@font-face {
  font-family: "CenturySchoolbook BoldItalic";
  src: url("../fonts/CenturySchoolbookBOLDITALIC.woff") format("woff");
  src: url("../fonts/CenturySchoolbookBOLDITALIC.ttf") format("truetype");
}
@font-face {
  font-family: "CenturySchoolbook Italic";
  src: url("../fonts/CenturySchoolbookKursiv.woff") format("woff");
  src: url("../fonts/CenturySchoolbookKursiv.ttf") format("truetype");
}
@font-face {
  font-family: "CenturySchoolbook Regular";
  src: url("../fonts/CenturySchoolbookRegularfont.woff") format("woff");
  src: url("../fonts/CenturySchoolbookRegularfont.ttf") format("truetype");
}
@font-face {
  font-family: "CenturySchoolbook Bold";
  src: url("../fonts/CenturySchoolbookBold.woff") format("woff");
  src: url("../fonts/CenturySchoolbookBold.ttf") format("truetype");
}
@font-face {
  font-family: "Candara LightItalic";
  src: url("../fonts/candaralightitalic.woff") format("woff");
  src: url("../fonts/candaralightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "Candara Regular";
  src: url("../fonts/CANDARA.woff") format("woff");
  src: url("../fonts/CANDARA.TTF") format("truetype");
}
p {
  margin-bottom: 0px;
}

.bg-welcome {
  background-image: url(./img/inicio2.jpg);
  background-size: 113%;
  background-position-x: -104px;
  background-position-y: -270px;
  height: 800px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 480px) {
  .bg-welcome {
    background-size: 131%;
    background-position-x: -107px;
    background-position-y: 0px;
    height: 625px;
    width: 375px;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .bg-welcome {
    background-repeat: no-repeat;
    background-position-x: -46px;
    background-position-y: 0px;
    height: 1000px;
    width: 796px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    height: 55px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .logo {
    height: 75px;
  }
}

.bg-black {
  background-color: black;
  background-size: 100%;
  opacity: 80%;
  height: 108px;
}

.pos-opt {
  padding: 18px;
  position: relative;
}

.btn-ham {
  background-image: url(./img/list.png);
  height: 4em;
}

a {
  font-size: 30px;
  color: white;
  font-family: "CenturySchoolbook Italic";
  text-decoration: none;
}

a:hover {
  color: #0c9e38;
}

.bor-nav {
  border-right-color: white;
  border-right-width: 1px;
  border-right-style: solid;
}

@media only screen and (max-width: 480px) {
  .phtog {
    background-color: black;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .phtog {
    background-color: black;
  }
}

.navbar-nav {
  padding-left: 40em;
}

.pos-tien {
  position: relative;
  text-align: center;
  padding-top: 36em;
}
@media only screen and (max-width: 480px) {
  .pos-tien {
    padding-top: 22em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .pos-tien {
    padding-top: 38em;
  }
}

.btn-tien {
  background-color: white;
  font-family: "CenturySchoolbook Italic";
  border-color: black;
  border-width: 3px;
  font-size: 3em;
}
@media only screen and (max-width: 480px) {
  .btn-tien {
    font-size: 1.5em;
    border-width: 2px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .btn-tien {
    font-size: 2em;
  }
}

.btn-tien:hover {
  background-color: black;
  color: white;
}

.txt-tien {
  font-family: "CenturySchoolbook Regular";
  color: white;
  font-size: 21px;
  text-shadow: 2px 1px #000000;
}
@media only screen and (max-width: 480px) {
  .txt-tien {
    font-size: 1.5em;
    color: black;
    font-family: "CenturySchoolbook Bold";
    text-shadow: none;
    margin-bottom: 0em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .txt-tien {
    color: black;
    font-family: "CenturySchoolbook Bold";
    text-shadow: none;
    font-size: 2em;
    margin: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.mar-tien {
  margin: 10em;
  margin-left: 12em;
  margin-right: 12em;
}
@media only screen and (max-width: 480px) {
  .mar-tien {
    margin-left: 3em;
    margin-right: 3em;
    margin: 2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .mar-tien {
    margin-left: 7em;
    margin-right: 7em;
  }
}

h2 {
  font-family: "CenturySchoolbook BoldItalic";
  color: black;
  font-size: 4em;
  text-align: center;
  margin-bottom: 1em;
}
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 2.3em;
  }
}

.icons {
  height: 3em;
}
@media only screen and (max-width: 480px) {
  .icons {
    height: 2em;
    margin-top: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .icons {
    margin-top: 2em;
    margin-right: 14em;
  }
}

.tam-img {
  height: 419px;
  margin-bottom: 2em;
}
@media only screen and (max-width: 480px) {
  .tam-img {
    height: 300px;
  }
}

.col-adj {
  text-align: center;
  flex: 1 0 0%;
}
@media only screen and (max-width: 480px) {
  .col-adj {
    margin-bottom: 4em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .col-adj {
    margin-bottom: 4em;
    margin-left: 4em;
  }
}

.tit-pro {
  font-family: "CenturySchoolbook Bold";
  color: black;
  font-size: 1.8em;
}
@media only screen and (max-width: 480px) {
  .tit-pro {
    font-size: 1.5em;
  }
}

.bg-car {
  background-color: #5A5A5A;
  height: 945px;
  display: block;
}
@media only screen and (max-width: 480px) {
  .bg-car {
    height: 555px;
    width: 375px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .bg-car {
    width: 796px;
  }
}

.mar-car {
  padding-top: 4em;
  margin: 4em;
  margin-left: 9em;
  margin-right: 9em;
}
@media only screen and (max-width: 480px) {
  .mar-car {
    margin: 0em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .mar-car {
    margin: 0em;
  }
}

.car-propo {
  width: 1252px;
  height: 670px;
  left: 10em;
}
@media only screen and (max-width: 480px) {
  .car-propo {
    width: 282px;
    height: 395px;
    left: 3em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .car-propo {
    width: 577px;
    height: 565px;
    left: 6em;
  }
}

/*
.phCar{
    @include respond-to($phone){
        height: 355px;
    }
}*/
.bg-det {
  background-color: white;
  opacity: 75%;
  width: 1252px;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .bg-det {
    width: 282px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .bg-det {
    width: 577px;
  }
}

.txt-det {
  margin-left: 3em;
  font-family: "Candara LightItalic";
  font-size: 20px;
  text-align: left;
  color: black;
}
@media only screen and (max-width: 480px) {
  .txt-det {
    margin-left: 1em;
    font-size: 15px;
  }
}

.carousel-caption {
  bottom: -0.75rem;
  left: 0%;
}
@media only screen and (max-width: 480px) {
  .carousel-caption {
    bottom: 6rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .carousel-caption {
    bottom: 2.5rem;
  }
}

.txt-h3 {
  color: white;
}

li {
  list-style: none;
}

.bg-foot {
  background-color: #1D1616;
  height: auto;
}
@media only screen and (max-width: 480px) {
  .bg-foot {
    width: 375px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .bg-foot {
    width: 796px;
  }
}

.bg-der {
  background-color: #0D0A0A;
  height: auto;
  padding-top: 0.5em;
}

.mar-foot {
  margin: 3em;
  margin-left: 32em;
}
@media only screen and (max-width: 480px) {
  .mar-foot {
    margin: 2em;
    margin-top: 3em;
    margin-left: 6em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .mar-foot {
    margin: 2em;
    margin-left: 8em;
    margin-right: 0em;
  }
}

.mar-foot2 {
  margin: 2em;
  margin-right: 26em;
}
@media only screen and (max-width: 480px) {
  .mar-foot2 {
    margin: 3em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .mar-foot2 {
    margin: 2em;
    margin-left: 0em;
  }
}

.row {
  width: 100%;
}

h3 {
  font-family: "CenturySchoolbook Bold";
  font-size: 27px;
  color: white;
}

.txt-contacto {
  font-family: "Candara LightItalic";
  font-size: 16px;
  color: white;
}

.txt-related {
  font-family: "Candara LightItalic";
  font-size: 20px;
  color: white;
}

.txt-reti {
  font-size: 16px;
}

.txt-derechos {
  font-family: "Candara LightItalic";
  font-size: 18px;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .txt-derechos {
    font-size: 12px;
    padding-bottom: 7px;
  }
}

.redes-blan {
  color: white;
}

.h2-b {
  color: white;
}
@media only screen and (max-width: 480px) {
  .h2-b {
    font-size: 3em;
  }
}

.qs-bor {
  margin-bottom: 9em;
  padding-bottom: 4em;
  border-bottom: 4px solid #1D1616;
}

.bg-about {
  background-color: #5A5A5A;
  padding-bottom: 4em;
  margin-top: 20em;
  padding-top: 17em;
}
@media only screen and (max-width: 480px) {
  .bg-about {
    margin-top: 11em;
    padding-top: 6em;
    padding-bottom: 1em;
  }
}

.txt-about {
  color: white;
  font-family: "Candara Regular";
  font-size: 1.5em;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .txt-about {
    font-size: 1em;
  }
}

.phguar {
  height: 510px;
  margin-left: 35em;
  margin-top: 4em;
  position: absolute;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .phguar {
    height: 450px;
    margin-left: 3.5em;
  }
}
@media only screen and (max-width: 480px) {
  .phguar {
    height: 217px;
    margin-left: 2em;
  }
}

.margin-qs {
  margin: 4em;
  margin-left: 17em;
  margin-right: 17em;
}
@media only screen and (max-width: 480px) {
  .margin-qs {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .margin-qs {
    margin-left: 6em;
    margin-right: 6em;
  }
}