
@font-face {
    font-family: 'CenturySchoolbook BoldItalic';
    src: url('../fonts/CenturySchoolbookBOLDITALIC.woff') format('woff');
    src: url('../fonts/CenturySchoolbookBOLDITALIC.ttf') format('truetype');
}

@font-face {
    font-family: 'CenturySchoolbook Italic';
    src: url('../fonts/CenturySchoolbookKursiv.woff') format('woff');
    src: url('../fonts/CenturySchoolbookKursiv.ttf') format('truetype');
}

@font-face {
    font-family: 'CenturySchoolbook Regular';
    src: url('../fonts/CenturySchoolbookRegularfont.woff') format('woff');
    src: url('../fonts/CenturySchoolbookRegularfont.ttf') format('truetype');
}

@font-face {
    font-family: 'CenturySchoolbook Bold';
    src: url('../fonts/CenturySchoolbookBold.woff') format('woff');
    src: url('../fonts/CenturySchoolbookBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Candara LightItalic';
    src: url('../fonts/candaralightitalic.woff') format('woff');
    src: url('../fonts/candaralightitalic.ttf') format('truetype');
}